<div id="<%= dom_id micropost %>" class="card">

  <div class="card-body">
    <p class="card-text"><%= micropost.content %></p>
    <a href="<%= micropost_url(micropost) %>" class="btn btn-outline-primary btn-sm">SHOW POST</a>
    <% if logged_in? %>
      <a href="<%= like_micropost_url(micropost) %>" class="btn btn-outline-success btn-sm">LIKE POST</a>
    <% end %>
  </div>
  <div class="card-footer">
    <span class="badge text-bg-success"><%= pluralize(micropost.likes.count,'like') %></span>
    <small class="text-body-secondary"><%= micropost.details %></small>
  </div>
</div>