<p style="color: green"><%= notice %></p>

<%= render @micropost %>

<div class="btn-group" role="group">
  <% if logged_in? %>
    <a href="<%= like_micropost_url(@micropost) %>" class="btn btn-success"><i class="bi bi-hand-thumbs-up"></i> Like MicroPost</a>
    <% if current_user.id == @micropost.user_id %>
      <a href="<%= edit_micropost_path(@micropost) %>" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit MicroPost</a>
      <%= button_to "<i class='bi bi-trash'></i> Delete MicroPost".html_safe, @micropost, method: :delete, class: "btn btn-danger" %>
      <% end %>
  <% end %>

</div>
